@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    local('StratosSkyeng'),
    url('../../../../../assets/fonts/StratosSkyeng.woff2') format('woff2'),
    url('../../../../../assets/fonts/StratosSkyeng.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  padding: 34px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #313131;
  max-width: 248px;
  z-index: 2;
  position: absolute;
  top: 125%;
  left: 36%;
}

.performer {
  left: 8%;
}

.genre {
  left: 22%;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;
}

.popup__element {
  cursor: pointer;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'StratosSkyeng', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.popup__element:hover {
  color: #b672ff;
  text-decoration-line: underline;
}
